<!DOCTYPE html>
<html lang="en">
<style>
    .error {
        color: red;
    }
</style>
<%- include ('../partials/head'); -%>

    <body>
        <div class="app">
            <%- include ('../partials/header'); -%>
                <!-- user-login-area-start -->
                <div class="user-login-area mb-70 mt-40">
                    <div class="container">
                        <form action="/dangky/sendinfor" method="post" id="formDangKy">
                            <div class="row" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="col-lg-12">
                                    <div class="login-title text-center mb-30">
                                        <h2>Đăng ký</h2>
                                    </div>
                                </div>
                                <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                                    <div class="billing-fields">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <p>Tên đăng nhập<span>*</span></p>
                                                <input class="register-signup-infor" type="text" id="username"
                                                    name="username" /><br><br>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <p>Địa chỉ email<span>*</span></p>
                                                <input class="register-emailaddress-phone" type="email" id="email"
                                                    name="email" /><br><br>
                                                <span id="messemail" style="color: red; font-weight: bold;" ></span>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <p>Số điện thoại<span>*</span></p>
                                                <input class="register-emailaddress-phone" type="number" id="phone"
                                                    name="phone" /><br><br>
                                                <span id="messphone" style="color: red; font-weight: bold;"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <p>Họ tên đầy đủ<span>*</span></p>
                                                <input class="register-signup-infor" type="text" id="name"
                                                    name="name" /><br><br>
                                            </div>
                                        </div>
                                        <p>Địa chỉ<span>*</span></p>
                                        <input id="diachi" name="address" />
                                        <br><br>
                                        <div class="">
                                            <p>Mật khẩu<span>*</span></p>
                                            <input class="register-signup-infor" type="password" id="newpass"
                                                name="password" /><br><br>
                                        </div>
                                        <div class="">
                                            <p>Nhập lại mật khẩu<span>*</span></p>
                                            <input class="register-signup-infor" type="password" id="password"
                                                name="xacnhanmk" /><br><br>
                                        </div>
                                        <div class="single-register" align="center">
                                            <input class="btn-login" type="submit" name="btn btn-primary"
                                                value="Đăng ký">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="modal fade" tabindex="-1" role="dialog" id="modalNotify">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Thông báo</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Đăng ký thành công</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="btnOk" class="btn btn-primary">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- user-login-area-end -->
                <%- include ('../partials/footer'); -%>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/scriptjs@2.5.9/dist/script.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4/dist/algoliasearch-lite.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/places.js@^1.17.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4"></script>

    <script>
        $script(
            'https://maps.googleapis.com/maps/api/js?v=weekly&key=AIzaSyBawL8VbstJDdU5397SUX7pEt9DslAwWgQ',
            () => {
                const searchClient = algoliasearch(
                    'latency',
                    '6be0576ff61c053d5f9a3225e2a90f76'
                );

                const search = instantsearch({
                    indexName: 'airports',
                    searchClient,
                });

                search.addWidgets([
                    instantsearch.widgets.places({
                        container: '#diachi',
                        placesReference: window.places,
                    }),
                ]);

                search.start();
            }
        );
    </script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function(){
            let mess = '<%= mess %>';

            if(mess && mess == 1){
                $('#modalNotify').modal('show');

                $('#btnOk').click(function(){
                    window.location.replace('/dangnhap');
                })
            }  
        })
        
        $("#formDangKy").validate({
            rules: {
                username: {
                    required: true,
                },
                email: {
                    required: true,
                    email: function (elmail) {
                        var vnf_regexmail = /^(([^<>()[\]\.,;:\s@\"]+(\.[^<>()[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
                        var email = elmail.value;
                        if (email !== '') {
                            if (vnf_regexmail.test(email) == false) {
                                $('#messemail').html('Email không hợp lệ');
                            } else {
                                $('#messemail').html('');
                            }
                        }
                    }
                },
                phone: {
                    required: true,
                    phone: function (el) {
                        var vnf_regex = /((09|03|07|08|05)+([0-9]{8})\b)/g;
                        var phone = el.value;
                        if (phone !== '') {
                            if (vnf_regex.test(phone) == false) {
                                $('#messphone').html('Số điện thoại không hợp lệ')
                            } else {
                                $('#messphone').html('');
                            }
                        }
                    }
                },
                name: {
                    required: true,
                },
                address: {
                    required: true,
                },
                password: {
                    required: true,
                    minlength: 4
                },
                xacnhanmk:{
                    required: true,
                    equalTo: '#newpass'
                }
            },
            messages: {
                username: {
                    required: 'Tên đăng nhập không được để trống',
                },
                email: {
                    required: 'Địa chỉ email không được để trống',
                },
                phone: {
                    required: 'Số điện thoại không được để trống',
                },
                name: {
                    required: 'Họ và tên không được để trống',
                },
                address: {
                    required: 'Địa chỉ không được để trống',
                },
                password: {
                    required: 'Mật khẩu không được để trống',
                    minlength: 'Mật khẩu không được dưới 4 ký tự'
                },
                xacnhanmk: {
                    required: 'Không được để trống',
                    equalTo: 'Mật khẩu và Mật khẩu xác nhận không giống nhau'
                }
            }
        });
    </script>

</html>