<!--header start-->
<header class="header fixed-top clearfix">
    <!--logo start-->
    <div class="brand">
        <a href="admin" class="logo">
            FULLTIME
        </a>
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars"></div>
        </div>
    </div>
    <!--logo end-->
    <div class="top-nav clearfix">
        <!--search & user info start-->
        <ul class="nav pull-right top-menu">
            <!-- user login dropdown start-->
            <% if(tennv && tennv != ''){%>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="">
                        <img alt="" src="client/img/product/64.jpg">
                        <span class="username">Chào bạn <%= tennv %></span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout">
                        <li><a href="/admin/canhan?idnv=<%= idnv ? idnv : 0 %>"><i class="fa fa-cog "></i> Quản lý cá nhân</a></li>
                        <li><a href="/admin/login/logout"><i class="fa fa-key"></i> Đăng xuất</a></li>
                    </ul>
                </li>
            <% } %>
            <!-- user login dropdown end -->
           
        </ul>
        <!--search & user info end-->
    </div>
</header>
<!--header end-->