<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a class="active" href="admin">
                        <i class="fa fa-dashboard"></i>
                        <span>Tổng quan</span>
                    </a>
                </li>
    
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>Quản lý loại sản phẩm</span>
                    </a>
                    <ul class="sub">
						<li><a href="/admin/loaisanpham">Loại sản phẩm</a></li>
						
                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>Quản lý sản phẩm</span>
                    </a>
                    <ul class="sub">
						<li><a href="/admin/sanpham?page=1">Sản phẩm</a></li>
						
                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>Quản lý thương hiệu</span>
                    </a>
                    <ul class="sub">
						<li><a href="/admin/thuonghieu">Thương hiệu</a></li>
						
                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>Quản lý tin tức</span>
                    </a>
                    <ul class="sub">
						<li><a href="/admin/tintuc">Tin tức</a></li>
						
                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>Quản lý khách hàng</span>
                    </a>
                    <ul class="sub">
						<li><a href="/admin/khachhang">Khách hàng</a></li>
						
                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>Quản lý đơn hàng</span>
                    </a>
                    <ul class="sub">
						<li><a href="/admin/donhang">Đơn hàng đã đặt</a></li>
                        <li><a href="/admin/donhang/donhangdahuy">Đơn hàng đã hủy</a></li>
						<li><a href="/admin/donhang/doanhthu" class="<%= role && role == 1 ? '' : 'hidden'%>">Thống kê doanh thu</a></li>
                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>Quản lý liên hệ</span>
                    </a>
                    <ul class="sub">
						<li><a href="/admin/lienhe">Liên hệ</a></li>
						
                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>Quản lý nhân viên</span>
                    </a>
                    <ul class="sub">
						<li><a href="/admin/nhanvien">Nhân viên</a></li>
						
                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>Đăng xuất</span>
                    </a>
                    <ul class="sub">
						<li><a href="/admin/login/logout">Đăng xuất</a></li>
						
                    </ul>
                </li>
            </ul>           
         </div>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->